body {
    max-width: 900px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer"
}
    
header{
    grid-area: header;
    background-color: rgb(207,232,220);
}

footer {
    grid-area: footer;
    background-color: rgb(207,232,220);
}

nav, aside {
    border-right: 1px solid #999;
}  

main {
    grid-area: main;   
    background: #E4FDE1;
    color: #333;
    padding: 1em;
    display: flex;
    background-color: gainsboro;
}
  
nav {        
    background: #4D7C8A;
    color: rgba(white, .9);
    padding: 1em;
    grid-area: nav;
}

aside {   
    grid-area: aside;
    background: #4D7C8A;
    color: rgba(white, .9);
    padding: 1em;    
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

@media screen and (max-width: 700px){
    .container {
        display: grid;
        gap: 5px;
        grid-template-columns: auto;
        grid-template-areas: 
        'header'
        'nav'
        'main'
        'aside'
        'footer';
    }
}  